body,h1,p,ul,li,table,form,input,span,i {
    margin: 0;
    padding: 0;
}



/*ÍÆ¼ö*/

.suggest {
    height: 360px;
    max-width: 1190px;
    margin: 5px auto 5px;
    background-color: #fff;
}
.suggest-title{
    padding-top: 15px;
    padding-left: 15px;
}
.pro-suggest-list{
    position: relative;
    width: 1190px;
    left: 12px;
}
.pro-suggest-list li{
    width: 182px;
    height: 282px;
    /* border: 1px solid #ccc; */
    list-style: none;
    float: left; 
    margin: 7px;
}
.pro{
    position: absolute;
    width: 180px;
    height: 280px;
    overflow: hidden;
    /* margin: 20px 20px 10px;   */
}
.proName{
    display: inline-block;
    width: 180px;
    height: 44px;
    font-size: 15px;
    text-decoration: none;
    color: #666;
    padding: 3px 0;
    overflow: hidden;
}
.proName:hover{
    text-decoration: none;
    color: #666;
}
.price span {
    font-size: 20px;
    color: #ff2300;
    font-weight: bold;
}

.count {
    position: absolute;
    right: 0px;
    bottom: 10px;
    color: #dedede;
}
footer{
	width: 100%;
    background-color: #1a1e21 ;
    margin-top: 100px;
}